{% extends "base.html" %}

{% block title %}
    Vote
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<section class="feature_area p_120">
          <div class="container">
            <div class="main_title">
          <div class="banner_content text-center">
       
            <a>Name :  {{ username }}   </a><a href="{{ url_for('logout')}}">LogOut</a><br>
            <a>Soal nomor :  <span id="number">{{ number }}</span></a><br>
            <a>Session Code :  <span  id="session_code">{{ session_code }}</span><a><br>
     

        <hr>
        <div>A Choice: <span id="A">{{ data_response["A"] }}</span></div>
        <div>B Choice: <span id="B">{{ data_response["B"] }}</span></div>
        <div>C Choice: <span id="C">{{ data_response["C"] }}</span></div>
        <div>D Choice: <span id="D">{{ data_response["D"] }}</span></div>
        <div>E Choice: <span id="E">{{ data_response["E"] }}</span></div>
        <hr>
        <button data-response="A">A</button>
        <button data-response="B">B</button>
        <button data-response="C">C</button>
        <button data-response="D">D</button>
        <button data-response="E">E</button><br>
        <input data-input="back response" type="button" value="back"/>
        <input data-input="next response" type="button" value="Next"/>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
  </script>
  </div>

    </div>
    </div>
    
  </section>


  
  {% endblock %}