{% extends "base.html" %}

{% block title %}
    Kontak
{% endblock %}

{% block content %}
    <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="hobi.html">Hobi</a>
                        </div>
                        <h2>Daftar Mahasiswa yang mengambil Matakuliah Pemrograman WEB</h2>
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="contact.html">KONTAK</a>
                        </div> 
                        <table width="100%" border="1" align="center">
  <tbody>
    <tr>
      <td width="200px">Nama</td>
      <td>Alamat</td>
      <td>No HP</td>
    </tr>
    <tr>
      <td>Dimas Bagaskara</td>
      <td>Perum. Candi Gebang Permai, AA-4</td>
      <td>082285148921</td>
    </tr>
    <tr>
      <td>Ghea Chandra</td>
      <td>Jl. Merdeka Raya no 45. Jakarta</td>
      <td>+62 896-2929-5988</td>
    </tr>
      <tr>
      <td>Nani Masrifah</td>
        <td>Jalan sekuter no 433 terban Gondokusuman Yogyakarta</td>
        <td>+62 856-5536-9903</td>
      </tr>
       </tr>
      <tr>
      <td>Titi Sumarni</td>
        <td>kos wismaputri edelwis blok e8b gang amarta 2 karangmalang</td>
        <td>+62 853-2676-6639</td>
      </tr>
                         </tr>
      <tr>
      <td>Ramdan Mala</td>
        <td>Jl. Jendral Sudirman, no 105</td>
        <td>+62 853-3917-3305</td>
      </tr>
  </tbody>
</table>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}


