{% extends 'base.html' %}
{% block content %}
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="home_left_img"> <img src="{{ url_for('static', filename='img/dimas.png')}}" alt=""> </div>
        </div>
        <div class="col-lg-6">
          <div class="banner_content">
            <h4>Tentang Saya</h4>
            <p>Saya adalah anak kedua dari empat bersaudara. Pendidikan SD, saya lulus dari SDN 03 Nansabari, yaitu terletak di nagari sungailaban kabupaten padang pariaman. Pendidikan SMP, saya lulus dari SMP Muhammadiyah 2 Depok Yogyakarta, dan pendidikan SMK saya lulus dari SMK Tamansiswa Jetis Yogyakarta. Lalu saya melanjutkan kuliah mengambil program studi Pendidikan Teknik Informatika dan Komputer, Universitas Bung Hatta Padang. Dan saat ini saya sedang menempuh pendidikan S2 Program studi Pendidikan Teknologi Kejuruan, Universitas Negeri Yogyakarta</p>
            <p>Bahasa pemrograman yang saya sukai
            <ol>
              <li>PHP</li>
              <li>HTML</li>
              <li>Java</li>
              <li>Python</li>
              <li>SQL</li>
            </ol>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/popper.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/stellar.js') }}"></script> 
<script src="{{ url_for('static', filename='vendors/lightbox/simpleLightbox.min.js') }}"></script> 
<script src="{{ url_for('static', filename='vendors/nice-select/js/jquery.nice-select.min.js') }}"></script> 
<script src="{{ url_for('static', filename='vendors/isotope/imagesloaded.pkgd.min.js') }}"></script> 
<script src="{{ url_for('static', filename='vendors/isotope/isotope-min.js') }}"></script> 
<script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script> 
<script src="{{ url_for('static', filename='vendors/counter-up/jquery.waypoints.min.js') }}"></script> 
<script src="{{ url_for('static', filename='vendors/counter-up/jquery.counterup.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/mail-script.js') }}"></script> 
<!--gmaps Js--> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script> 
<script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>