{% extends 'base.html' %}


{% block content %}

  	<section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
					<div class="banner_content text-center">
						<h2>Project1</h2>
		    <h3>Masukkan Kata Kunci!</h3>
		    <form action="/search" method="GET">
		        <div class="form-group">
		            <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp" placeholder="ISBN, Judul atau Penulis">
		            <small id="bookHelp" class="form-text text-muted">Contoh: 0375508325, Cosmos atau Carl Sagan</small>
		        </div>
		        <button class="btn btn-primary" type="submit">CARI !</button>
		    </form>
			</div>
		</div>
		</div>
		
	</section>

{% endblock %}